@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url(portImage2.JPG);
    background-size:100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.Main-Container{
    width: 95%;
    height: 800px;
    background: rgba(136, 151, 154, 0.8);
    color: #000000;
    top: 60%;
    bottom: 60%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing:border-box;
    padding: 30px 30px;
    border-radius: 20px;
}

h2{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 30px;
    font-style: bold;
}

legend{
    font-style: italic;
}

.Main-Container p{
    margin: 0;
    padding: 0;
    font-weight: bold;
 }

 .Name-Fields input{
    width: 100%;
    margin-bottom: 20px;  
 }

 .DOB-Field input{
    width: 100%;
    margin-bottom: 20px;
 }

.Mobile-Num-Field input{
    width: 100%;
    margin-bottom: 20px;
}

.Email-Field input{
    width: 100%;
    margin-bottom: 20px;
}

.NIC-Field input{
    width: 100%;
    margin-bottom: 20px;
}

 .Email-Field p{
    font-weight: bold;
 }

.Port-Id-Num input{
    width: 100%;
    margin-bottom: 20px;
}

.Division input{
    width: 100%;
    margin-bottom: 20px;
}

.Driving-Licence input{
    width: 100%;
    margin-bottom: 20px;
}

.Driving-Licence-Issued-Date input{
    width: 100%;
    margin-bottom: 20px;
}
.Driving-Licence-Expiry-Date input{
    width: 100%;
    margin-bottom: 20px;
}

.CurrentAddress input{
    width: 100%;
    margin-bottom: 20px;
}

.PermenantAddress input{
    width: 100%;
    margin-bottom: 20px;
}

.District input{
    width: 100%;
    margin-bottom: 20px;
}

.submitButton{
    text-align: center;
}



